
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPerson</title>
</head>
<body>
    <div> Visa personer
    </div>
</body>
</html>
